<?xml version="1.0" encoding="UTF-8" ?>
<suite name="test suite">
    <test name="test">
        <classes name="extend">
            <class name="com.extend.demo.testMethodDemo"/>
                <methods>
                    <include name="test1"/>
                    <include name="test2"/>
                    <include name="test3"/>
                    <include name="logDemo"/>
                </methods>
        </classes>
    </test>
    <listeners>
        <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter"/>
    </listeners>
</suite>
